.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.props__thead {
  width: 100%;
  border-collapse: collapse;
}

.props__cell {
  border: 1px solid #ddd;
  padding: 8px;
}

.example__list {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
