.pagination {
  display: inline-block;
}

.pagination__controls {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination__position {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination__position--active {
  background-color: #969696;
  color: white;
  border: 1px solid #969696;
}

.pagination__position:hover:not(.active) {
  background-color: #ddd;
}

.pagination__limitSelector {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}
